h1 {
  text-align: center;
  font-size: 3rem;
}
nav {
  margin: 1rem auto;
  text-align: center;
}
nav > button {
  font-size: 2rem;
}

#bingo {
  --cell-size: 10rem;
  list-style: none;
  display: grid;
  margin: 1rem auto;
  width: auto;
  padding: 0;
  grid: repeat(5, var(--cell-size)) / auto-flow var(--cell-size);
  font-family: monospace;
  justify-content: center;
}
#bingo > li {
  border: 1px solid black;
  padding: .5rem;
}
#bingo > li:hover,
#bingo > li.active:hover {
  background: yellow;
}
#bingo > li.active {
  background-image: url('stamp.png');
  background-size: contain;
  background-repeat: no-repeat;
}
